<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<%= link_to image_tag('setsuden_off.png',width: "300px"), "http://localhost:3000/welcome/show" %>
節電
<%= link_to image_tag('gomi_bunbetsu.png',width: "300px"), "http://localhost:3000/welcome/show" %>
分別
<%= link_to image_tag('water-bottle.png',width: "250px",height: "300px"), "http://localhost:3000/welcome/show" %>
水筒
<%= link_to image_tag('watermark.jpg',width: "300px"), "http://localhost:3000/welcome/show" %>
マイバッグ
</p>